.card {
    width: 300px;
    height: 300px;
    background-color: var(--terceary);
    color: var(--yellow);
    border: 1px solid var(--primary);
    border-radius: 10px;
    box-shadow: 3px 3px 10px #22222270;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h3 {
    font-size: 1.5rem;
    color: var(--yellow);
}

.card p {
    font-size: 1rem;
    color: var(--gray);
}

.card_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_icones {
    display: flex;
    gap: 10px;  
    color: var(--red);
    font-size: 1.8rem;
}

.card_btn {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:  0.5s;
}
.card_btn:hover {
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.arrow {
    font-size: 1.5rem;
}